*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-size: 62.5%; // 1rem = 10px
    font-family: $font-family-body;
    line-height: $default-line-height;
    font-weight: $default-font-weight;
    background-color: $c-white;
    @include rfs($font-size-base);
}
.container{
  padding: 3rem 3rem 0 3rem;
  @include breakpoint(xs){
    padding: 1.5rem 1.5rem 0 1.5rem;
    }
  p{
    color: #7e7e7e;
  }
  .p-title{
    padding-bottom: 1rem;
    position: relative;
    padding-left: 4rem;
    &::before{
      content: '';
      display: block;
      width: 2rem;
      height: .2rem;
      background: $c-primary;
      position: absolute;
      left: 0;
      top:.7rem;
    }
      &::after{
      content: '';
      display: block;
      width: 1rem;
      height: .2rem;
      background: $c-primary;
      position: absolute;
      left: 2.5rem;
      top:.7rem;
    }
  }


}
.text{
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  color: #1c1b1b;
}
.description{
  line-height: 1.6;
  a{
    text-decoration: none;
    color: $c-primary;
    transition: all .4s ease-out;
    &:hover{
      opacity: .5;
    }
  }
}
.text::first-letter {
  font-size: 200%;
  color: $c-primary;
}
a{
  color: #7e7e7e;
  text-decoration: none;
  &:hover{
    color: $c-primary;
  }
}
