
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-size: 62.5%; // 1rem = 10px
    font-family: $font-family-body;
    line-height: $default-line-height;
    font-weight: $default-font-weight;
    background-color: $c-white;
    @include rfs($font-size-base);
}
