//Color
$c-primary: #C69A63;
$c-primary-dark: #003e46;
$c-primary-light: #0ad6f0;
$c-grey-blue: #4a5660;
$c-dark-blue: #1b2023;
$body-color: #484848;
$c-white: #fff;
$c-white-off: #f6f6f6;
$c-gold-brown: #c5a47e;
$c-overlay: rgba(34, 39, 43, 0.562);

// TYPOGRAPHY
$font-family: "itc-avant-garde-gothic-pro", Arial, serif;
$font-family-body: "Open Sans", Arial, serif;
$font-size-base: 18px;
$font-size-base-tablet: 16px;
$font-size-base-mobile: 12px;
	//DELETE BELOW
$heading-font: "itc-avant-garde-gothic-pro", Arial, serif;
$base-font: "Open Sans", Arial, serif;;
$default-font-size: 1rem;
$default-line-height: 1.6rem;
$default-font-weight: 300;
